protected net.minecraft.client.gui.screens.Screen children
public net.minecraft.core.HolderSet$Direct
public net.minecraft.client.gui.components.AbstractSelectionList$Entry
public net.minecraft.world.level.levelgen.placement.PlacementModifierType m_191866_(Ljava/lang/String;Lcom/mojang/serialization/Codec;)Lnet/minecraft/world/level/levelgen/placement/PlacementModifierType; # register
public net.minecraft.world.entity.Entity f_19857_ # yRot
public net.minecraft.world.entity.Entity f_19858_ # xRot
#public net.minecraft.world.entity.WalkAnimationState f_267406_ # speedOld
#public net.minecraft.world.entity.WalkAnimationState f_267371_ # speed
public com.mojang.blaze3d.vertex.BufferBuilder m_231177_()Lcom/mojang/blaze3d/vertex/BufferBuilder$RenderedBuffer; # storeRenderedBuffer
public com.mojang.blaze3d.vertex.BufferBuilder f_85648_ # buffer
public com.mojang.blaze3d.vertex.BufferBuilder f_85654_ # vertices
public com.mojang.blaze3d.vertex.BufferBuilder f_231157_ # renderedBufferPointer
public com.mojang.blaze3d.vertex.BufferBuilder f_85658_ # format
public com.mojang.blaze3d.vertex.BufferBuilder f_231156_ # renderedBufferCount
public com.mojang.blaze3d.vertex.BufferBuilder f_166766_ # sortingPoints
public net.minecraft.client.renderer.texture.TextureManager m_118515_(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/texture/AbstractTexture;)Lnet/minecraft/client/renderer/texture/AbstractTexture; # loadTexture